/* Form */
input[type=ckeckbox]{
    cursor:pointer;
}

.btn-person-form{
    width:150px; 
    height:40px;
    margin-bottom: 10%;
}

.btn-secondary{
    background-color: #ccc;
}

textarea {
    width: 100%;
    height: 150px; 
    resize: none; 
}

.image-form{
    width:200px;height:200px;border:3px solid black; border-radius:7px;margin-bottom:10%;
}

